/* background-color */
#div-bg{
    background-color: khaki;
}

/* background-clip : 배경색을 어디까지 지정해줄껀지 */
.div-test{
    background-color: yellow;
    border: 10px dashed black;
    padding: 20px;
    margin: 20px;
}

#div1{
    background-clip: border-box;
    /* border-box : 테두리까지 */
}
#div2{
    background-clip: padding-box;
    /* padding-box: 테두리 안까지, 테두리 포함x */
}
#div3{
    background-clip: content-box;
    /* content-box : 글상자 까지 */
}

/* background */
#test{
    border: 1px solid black;
    height: 800px;

    background-image: url("../../resources/cake.jpg");
    /* 크기에 맞게 사진 여러개가 채워짐 */

    background-repeat: repeat-x;
    /* 가로로만 반복 */

    background-repeat: repeat-y;
    /* 세로로만 반복 */

    background-repeat: no-repeat;
    /* 반복없음 */

    background-size:  400px 200px;
    background-size: 50% 50%;

    /* background-size: contain;  */
    /* 사진을 꽉채워서 보여주나 한쪽으로만 꽉 채움 */

    background-size: cover;
    /* 모두 꽉 채워줌, 그러나 사진이 짤림 */

    background-position: 50px 25px;
    background-position: left bottom;
    background-position: 50%;
    background-position: center;

    /* 패럴록스스크롤링 기법 : 뒷배경 이미지는 고정ex> 스타벅스 홈페이지 */
    background-attachment: fixed;
    

}