/* 박스 모델 */
/* width, height */
.size-test{
    height: 200px;
    background-color: aqua;
}

#fixed-size{
    width: 200px;
}
#variable-size{
    width: 50%;
}

/* display */
.display{
    background-color: antiquewhite;
    width: 150px;
    height: 50px;
    margin: 10px;
    /* 인라인 요소(span)에는 width, height값이 먹히지 않음 */
}
.display-inline{
    /* div 블록태그를 인라인처럼 바꿈 */
    display: inline;
}
.display-block{
    /* span 인라인태그를  블록태그처럼 바꿈 */
    display: block;
}

.display-inline-block{
/* 인라인태그(옆으로 나열)와 블록태그(블록 영역)의 속성 모두 가짐 */
    display: inline-block;
}

/* padding, margin */
.space{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

#padding1{
    padding: 30px;
}
#padding2{
    padding-top: 50px;
    padding-right: 100px;
    padding: 50px 30px; /* 위아래 (50px적용), 좌우로 (30px적용) */
    padding: 30px 50px 20px 40px; /* 위 우 아래 좌 (시계방향 순으로 적용)*/
}
#margin1{
    margin: 50px;
}
#margin2{
    /* **중요>마진의 문제점 : 마진이 서로 겹치면 큰값만 적용 */
    margin-top: 70px;
    margin-left: 20px;
    margin: 50px 30px; /* 위,아래: 50  좌,우: 30*/
    margin: 30px 50px 20px 40px;
}

/* 테두리 스타일 */
.border{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border: 10px solid;
}
#border1{
    border-style:dashed;
}
#border2{
    border-style: dotted;
    border-color: hotpink;
    border-color: hotpink yellow;
    border-color: hotpink yellow greenyellow red;
    /* ↑ 위 로직을 하나씩 쓴 것과 같음
    border-top-color: hotpink;
    border-right-color: yellow;
    border-bottom-color: greenyellow;
    border-left-color: red; */
}
#border3{
    border-style: double;
    border-color: red;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-radius: 30px;
}
#border4{
    /* 테두리 두께 두껍게 */
    border-width: 20px;

    /* 위,아래 // 좌우 */
    border-width: 20px 30px;
    border-width: 20px 30px 10px 40px;

    /* 하나씩 두께 설정 */
    border-left-width: thick;
    border-right-width: medium;
    border-bottom-width: thin;
}


/* 포지셔닝 */
/* box-sizing */
.box{
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    margin: 10px;
    padding: 20px;
    
}
#box1{
    box-sizing: content-box;
    /* 지금 현재 width 값 140(padding값 포함) */
}
#box2{
    box-sizing: border-box;
    /* padding 값 포함해서 100px(위에서 width: 100px;로 지정했음)로 만들어줌 */
}


/* float */
.float{
    width: 100px;
    height: 100px;
    background-color: darksalmon;
    margin: 2px;
    /* ↓ 밑에 꺼랑 똑같음 display: inline-block; */
    float:left;
}


/* position */
#outer {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: lightgoldenrodyellow;
}
#first {
    position: absolute;
    /* 부모태그에  position: relative; 를 지정해주었으니 부모 태그 기준으로 됨 */
    top:50px;
    left: 50px;

    width: 200px;
    height: 200px;
    background-color: lime;
}
#second {
    position: absolute; /* 부모태그에  position: relative; 를 지정해주면 부모 태그 기준으로 됨 */
    /* top: 0px; 부모태그에  position: relative;를 지정해주기 전에는 전체 화면에 대한 0px */
    top: 100px;
    left: 100px;

    width: 100px;
    height: 100px;
    background-color: lightblue;
}

#fixed{
    /* ex 메가커피 홈페이지> 왼쪽 하단 메뉴 , 메인 메뉴바  */
    position: fixed;
    top: 100px;
    left: 500px;
    width: 100px;
    height: 100px;
    background-color: blue;
}


/* visibility */
.visibility{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;

}
#visibility1{
    background-color: beige;
}
#visibility2{
    visibility: hidden; /* 공간은 남겨 놓고 숨김 */

    /* display: none; */  /* 공간까지 없애버림 */
    background-color: skyblue;
}
#visibility3{
    background-color: lightpink;
}


/* z- index */
#z-outer{
    height: 250px;
    position: relative;
}
.z-index{
    width: 150px;
    height: 100px;
    position: absolute;
}
#z-index1{
    top: 100px;
    left: 100px;
    background-color: orange;
    z-index:3;
}
#z-index2{
    top: 50px;
    left: 50px;
    background-color: blueviolet;
    z-index:5;
    /* z-index:9999; 아예 큰값으로 설정해서 고정시켜버리기 */
}
#z-index3{
    background-color: green;
}