.container{
    background-color: lightblue;
    /* 1. display : grid; */
    display: grid;

    /* 2. grid-template-colums */
    grid-template-columns: 200px 500px 300px;
    /*  */
    grid-template-columns: 40% 60%;
    grid-template-columns: 4fr 6fr; 
    /* fraction의 약자 */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);

    /* 양쪽은 고정, 가운데만 늘어남 */
    /* grid-template-columns: 200px 1fr 200px;  */

    /* 최소 20%로 채워버리겠다..but 셀의 개수 모자라면 빈 공간생김 */
    /* grid-template-columns: repeat(auto-fill, minmax(20%,auto)); */

    /* grid-template-columns: repeat(auto-fit, minmax(20%,auto)); */


    /* 3. gap */
    /* 가로줄 간격 띄우기  */
    /* row-gap: 20px; */

    /* 세로줄 간격 띄우기  */
    /* column-gap: 30px; */
    gap: 20px;

    /* 4. auto-rows  */
    /* 2번째 줄까지만 rows 150px 씩 적용됨 */
    grid-template-rows: repeat(2,150px);

     /* template에서 벗어난 줄(3번째줄) rows 200px 씩 적용됨 */
    grid-auto-rows:200px;


    /* 5. justify-items (검사도구-grid 켜놓고 보기 ) */
    /* 그리드 영역 안에서 가로로 정렬 */
    /* justify-items:start;
    justify-items:center;
    justify-items:end; */

    /* 그리드 영역 안에서 세로로 정렬 */
    /* align-items: start;
    align-items: center;
    align-items: end; */
}


.item{
    background-color: white;
    border: 3px solid black;
    padding: 15px;
}
/* 그리드로 레이아웃 잡기 */
.item:nth-child(1){
    grid-column: 1/4;
}
.item:nth-child(4){
    grid-column: 3;
    grid-row: 2/4;
}
.item:nth-child(6){
    justify-self: center;
    align-self: center;
}
.item:nth-child(9){
    grid-column: 3;
    grid-row:3/5;
}
.item img {
    height: 95px;
}