.box-container {
    border: 1px solid black;
    height: 50vh;
}
#box-container1 {
 display: flex;
 align-items: center;
 justify-content: center;
 
}
.box {
    width: 150px;
    height: 150px;
    background-color: rgba(231, 24, 27, 0.567);
    border: 2px solid black;
    
    /* 전환효과 */
    transition: 0.5s;
    /* transition: 0.5s linear; */
    transition: 1s cubic-bezier(0.04, 0.73, 0.93, 0.54);
    
}
.box:hover{
    /* - scale : 지정한 크기만큼 확대 / 축소하는 함수
       - rotate : 지정한 각도만큼 회전시키는 함수
       - skew : 지정한 각도만큼 비틀어 왜곡하는 함수
       - translate : x축, y축, z축 방향으로 이동시키는 함수 */
    transform: scale(2);
    transform: rotate(45deg); 
    transform: skew(30deg);
    transform: skewy(30deg);
    transform: translateX(100px);
    transform: translate(50px,100px);
    transform: scale(1.5) rotate(30deg);

    /* transform-origin:변형의 기준점을 변경하는 속성 */
    transform-origin: left top;
    transform-origin: right top ;

    background-color: rgba(24, 231, 48, 0.693);
}

/* animation */
#box-container2{
    width: 1200px;
    height: 600px;
}
.animation-box{
    width: 200px;
    height: 200px;
    background-color: indigo;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

     /* 맨뒤 3은 횟수를 의미 */
    animation: boxAni 3s linear 3;
    animation: boxAni 3s linear infinite ;
     /* alternate: 다시 되돌아옴 */
    animation: boxAni 3s linear infinite alternate;
    /* reverse : 거꾸로  */
    animation: boxAni 3s linear infinite reverse;
    animation: boxAni 3s linear infinite alternate-reverse;
    /* 한번으로 끝내는것(100%된 위치에서 ) */
    animation: boxAni 3s linear forwards;
   
   
}
.animation-box:hover{
    /* 마우스 올라가면 멈춤: 일시정지  */
    animation-play-state: paused;
}
@keyframes boxAni{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(1000px,0);
    }
    100%{
        transform: translate(1000px,400px);

    }

}
#box-container3{
 display: flex;
 justify-content: center;
 align-items: center;
 /* perspective: 350px; */ /* 값이 클수록 멀리 있는 느낌(원근감) */
}
/* 부모에 hover 걸고 아이템에 적용됨 */
#box-container3:hover .album {
    transform: rotateY(180deg);
}
.album {
    width: 200px;
    height: 200px;
    transform: perspective(400px) rotateY(0deg);
    /* transform: rotateY(0); */
    transition: 3s;
    transform-style: preserve-3d;
    position: relative;
    /* 축을 바꾸는 것 */
    transform-origin: left;
}
.album-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.album-item-front {
    background-image: url('../../resources/album2.jpg');
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    z-index: 1;
}
.album-item-back {
    background-color: pink;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}